<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [2]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Using cached SQLAlchemy-1.3.9-cp312-cp312-win_amd64.whl
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.27
    Uninstalling SQLAlchemy-2.0.27:
      Successfully uninstalled SQLAlchemy-2.0.27
Successfully installed sqlalchemy-1.3.9

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.3.9 which is incompatible.

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [3]:
#Please uncomment and execute the code below if you are working locally.

!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\ossam\appdata\local\programs\python\python312\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\ossam\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (3.10.0)
Requirement already satisfied: ipython in c:\users\ossam\appdata\roaming\python\python312\site-packages (from ipython-sql) (8.19.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Using cached SQLAlchemy-2.0.27-cp312-cp312-win_amd64.whl.metadata (9.8 kB)
Requirement already satisfied: sqlparse in c:\users\ossam\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in c:\users\ossam\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\ossam\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\ossam\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.10.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\ossam\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: decorator in c:\users\ossam\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\ossam\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\ossam\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\ossam\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\ossam\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (2.17.2)
Requirement already satisfied: stack-data in c:\users\ossam\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5 in c:\users\ossam\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (5.14.0)
Requirement already satisfied: colorama in c:\users\ossam\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\ossam\appdata\roaming\python\python312\site-packages (from prettytable->ipython-sql) (0.2.12)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\ossam\appdata\roaming\python\python312\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing>=1.2.0 in c:\users\ossam\appdata\roaming\python\python312\site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\ossam\appdata\roaming\python\python312\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\ossam\appdata\roaming\python\python312\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Using cached SQLAlchemy-2.0.27-cp312-cp312-win_amd64.whl (2.1 MB)
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed sqlalchemy-2.0.27

In [4]:
%load_ext sql

In [5]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [6]:
!pip install -q pandas==1.1.5

  error: subprocess-exited-with-error

  × Getting requirements to build wheel did not run successfully.
  │ exit code: 1
  ╰─> [32 lines of output]
      <string>:19: DeprecationWarning: pkg_resources is deprecated as an API. See https://setuptools.pypa.io/en/latest/pkg_resources.html
      <string>:45: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
      Traceback (most recent call last):
        File "C:\Users\ossam\AppData\Local\Programs\Python\Python312\Lib\site-packages\pip\_vendor\pyproject_hooks\_in_process\_in_process.py", line 353, in <module>
          main()
        File "C:\Users\ossam\AppData\Local\Programs\Python\Python312\Lib\site-packages\pip\_vendor\pyproject_hooks\_in_process\_in_process.py", line 335, in main
          json_out['return_val'] = hook(**hook_input['kwargs'])
                                   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
        File "C:\Users\ossam\AppData\Local\Programs\Python\Python312\Lib\site-packages\pip\_vendor\pyproject_hooks\_in_process\_in_process.py", line 118, in get_requires_for_build_wheel
          return hook(config_settings)
                 ^^^^^^^^^^^^^^^^^^^^^
        File "C:\Users\ossam\AppData\Local\Temp\pip-build-env-jszfg0ca\overlay\Lib\site-packages\setuptools\build_meta.py", line 325, in get_requires_for_build_wheel
          return self._get_build_requires(config_settings, requirements=['wheel'])
                 ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
        File "C:\Users\ossam\AppData\Local\Temp\pip-build-env-jszfg0ca\overlay\Lib\site-packages\setuptools\build_meta.py", line 295, in _get_build_requires
          self.run_setup()
        File "C:\Users\ossam\AppData\Local\Temp\pip-build-env-jszfg0ca\overlay\Lib\site-packages\setuptools\build_meta.py", line 487, in run_setup
          super().run_setup(setup_script=setup_script)
        File "C:\Users\ossam\AppData\Local\Temp\pip-build-env-jszfg0ca\overlay\Lib\site-packages\setuptools\build_meta.py", line 311, in run_setup
          exec(code, locals())
        File "<string>", line 793, in <module>
        File "<string>", line 760, in setup_package
        File "C:\Users\ossam\AppData\Local\Temp\pip-install-of7kmd8e\pandas_c5b6cd6757c148699c9dcf0a4d951f21\versioneer.py", line 1439, in get_version
          return get_versions()["version"]
                 ^^^^^^^^^^^^^^
        File "C:\Users\ossam\AppData\Local\Temp\pip-install-of7kmd8e\pandas_c5b6cd6757c148699c9dcf0a4d951f21\versioneer.py", line 1368, in get_versions
          cfg = get_config_from_root(root)
                ^^^^^^^^^^^^^^^^^^^^^^^^^^
        File "C:\Users\ossam\AppData\Local\Temp\pip-install-of7kmd8e\pandas_c5b6cd6757c148699c9dcf0a4d951f21\versioneer.py", line 400, in get_config_from_root
          parser = configparser.SafeConfigParser()
                   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
      AttributeError: module 'configparser' has no attribute 'SafeConfigParser'. Did you mean: 'RawConfigParser'?
      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: subprocess-exited-with-error

× Getting requirements to build wheel did not run successfully.
│ exit code: 1
╰─> See above for output.

note: This error originates from a subprocess, and is likely not a problem with pip.

In [7]:
%sql sqlite:///my_data1.db

In [8]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [9]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
(sqlite3.OperationalError) table SPACEXTABLE already exists
[SQL: create table SPACEXTABLE as select * from SPACEXTBL where Date is not null]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [112]:
%sql select * from SPACEXTABLE limit(5)

 * sqlite:///my_data1.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [11]:
%sql select distinct launch_site from SPACEXTABLE

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [113]:
%sql SELECT launch_site FROM SPACEXTABLE WHERE launch_site LIKE('CCA%') limit(5)

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',)]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [50]:
%sql SELECT Customer, sum("PAYLOAD_MASS__KG_") AS Total_mass FROM SPACEXTABLE WHERE Customer is 'NASA (CRS)'

 * sqlite:///my_data1.db
Done.

[('NASA (CRS)', 45596)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [53]:
%sql SELECT Booster_Version, avg(PAYLOAD_MASS__KG_) AS avg_mass FROM SPACEXTABLE WHERE Booster_version is 'F9 v1.1'

 * sqlite:///my_data1.db
Done.

[('F9 v1.1', 2928.4)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [56]:
%sql SELECT min(Date), Landing_Outcome FROM SPACEXTABLE where Landing_Outcome is 'Success (ground pad)'

 * sqlite:///my_data1.db
Done.

[('2015-12-22', 'Success (ground pad)')]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [62]:
%sql SELECT Booster_Version, Landing_Outcome, PAYLOAD_MASS__KG_	FROM SPACEXTABLE where Landing_Outcome is 'Success (drone ship)' AND PAYLOAD_MASS__KG_ BETWEEN 4000 AND 6000

 * sqlite:///my_data1.db
Done.

[('F9 FT B1022', 'Success (drone ship)', 4696),
 ('F9 FT B1026', 'Success (drone ship)', 4600),
 ('F9 FT  B1021.2', 'Success (drone ship)', 5300),
 ('F9 FT  B1031.2', 'Success (drone ship)', 5200)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [105]:
%sql SELECT SUM(CASE WHEN Mission_Outcome LIKE '%Success%' THEN 1 ELSE 0 END) AS successful_count, SUM(CASE WHEN Mission_Outcome LIKE '%Failure%' THEN 1 ELSE 0 END) AS failure_count FROM SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[(100, 1)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [103]:
%sql SELECT Booster_Version FROM SPACEXTABLE WHERE PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_)FROM SPACEXTABLE);

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [109]:
%sql SELECT    strftime('%m', Date) AS month,    Booster_Version,    Launch_Site,    Landing_Outcome FROM SPACEXTABLE WHERE substr(Date, 0, 5) = '2015'    AND Landing_Outcome LIKE '%Drone Ship%'    AND Mission_Outcome LIKE '%Failure%';

 * sqlite:///my_data1.db
Done.

[('06', 'F9 v1.1 B1018', 'CCAFS LC-40', 'Precluded (drone ship)')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [110]:
%sql SELECT Landing_Outcome, COUNT(*) AS outcome_count FROM SPACEXTABLE WHERE Date BETWEEN '2010-06-04' AND '2017-03-20' AND (Landing_Outcome LIKE '%Failure (drone ship)%' OR Landing_Outcome LIKE '%Success (ground pad)%') GROUP BY Landing_Outcome ORDER BY outcome_count DESC;

 * sqlite:///my_data1.db
Done.

[('Failure (drone ship)', 5), ('Success (ground pad)', 3)]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>